In [2]:
# We use this libraries in this project
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [22]:
#Here we use beautifulSoup4 to scrape the code
wiki='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw_wiki= requests.get(wiki).text
soup = BeautifulSoup(raw_wiki,'xml')
#Here we find the table attribute in the xml
table = soup.find('table')

In [23]:
"""
We use this function
https://stackoverflow.com/questions/2935658/beautifulsoup-get-the-contents-of-a-specific-table
to save as a list"""
def tableDataText(table):    

    def rowgetDataText(tr, coltag='td'): # td (data) or th (header)       
        return [td.get_text(strip=True) for td in tr.find_all(coltag)]  
    rows = []
    trs = table.find_all('tr')
    headerow = rowgetDataText(trs[0], 'th')
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[1:]
    for tr in trs: # for every table row
        rows.append(rowgetDataText(tr, 'td') ) # data row       
    return rows
x=tableDataText(table)

In [24]:
# Here we create the dataframe
df = pd.DataFrame(x, columns =['Postal Code', 'Borough', 'Neighborhood']) 
#delete the first row
df=df[1:]
#Filtering neighborhoods
df=df[df['Neighborhood']!='Not assigned']

In [25]:
df.sort_values(by=['Postal Code'])

,Postal Code,Borough,Neighborhood
10,M1B,Scarborough,"Malvern, Rouge"
19,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
28,M1E,Scarborough,"Guildwood, Morningside, West Hill"
37,M1G,Scarborough,Woburn
46,M1H,Scarborough,Cedarbrae
...,...,...,...
99,M9N,York,Weston
108,M9P,Etobicoke,Westmount
117,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
144,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
153,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [26]:
# Examining the shape
df.shape

(103, 3)

In [43]:
# We use the task geospatial references
codes=pd.read_csv('Geospatial_Coordinates.csv')

In [44]:
# Using join method by Postal Code
df=df.join(codes.set_index('Postal Code'), on='Postal Code')

In [45]:
df.tail(5)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
161,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
166,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
169,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
170,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [46]:
data=df[(df['Borough']=='Downtown Toronto')|(df['Borough']=='East Toronto')|(df['Borough']=='West Toronto')|(df['Borough']=='Central Toronto')]
data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
5,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
14,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
23,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
31,M4E,East Toronto,The Beaches,43.676357,-79.293031

In [40]:
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [48]:
manhattan_onehot=data[['Neighborhood','Latitude','Longitude']]
manhattan_grouped = manhattan_onehot.groupby('Neighborhood').mean().reset_index()

In [50]:
manhattan_grouped.head()

                                        Neighborhood   Latitude  Longitude
0                                        Berczy Park  43.644771 -79.373306
1       Brockton, Parkdale Village, Exhibition Place  43.636847 -79.428191
2  Business reply mail Processing Centre, South C...  43.662744 -79.321558
3  CN Tower, King and Spadina, Railway Lands, Har...  43.628947 -79.394420
4                                 Central Bay Street  43.657952 -79.387383

In [47]:
kclusters = 5
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(manhattan_grouped)

ValueError: could not convert string to float: 'University of Toronto, Harbord'